<%= form_for(@livestock) do |f| %>
  <% if @livestock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@livestock.errors.count, "error") %> prohibited this livestock from being saved:</h2>

      <ul>
      <% @livestock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
        <div class="image-placeholder">
          <%=image_tag('white_cow.png')%><br/><br/>
          <b>Upload Image</b><br/>
          <div class="upload_subtext">We recommend at least 3 images.</div>
        </div>
        <form enctype="multipart/form-data" action="/create" method="post">
          <input class="image-upload" type="file" name="livestock[photo]" accept="image/*" style="display: none">
          <input class="image-upload2" type="file" name="livestock[photo2]" accept="image/*" style="display: none">
          <input type="text" class="form-control modal-input" name="livestock[tag]" placeholder="Tag #" required>
          <input type="text" class="form-control modal-input" name="livestock[weight]" placeholder="Live Weight (kg)" required>
          <input type="text" class="form-control modal-input" name="livestock[grade]" placeholder="Grade" required>
          <input type="text" class="form-control modal-input" name="livestock[breed]" placeholder="Breed" required>
          <input type="text" class="form-control modal-input" name="livestock[age]" placeholder="Age" autocomplete="off" required>
          <select class="form-control modal-input" name="livestock[gender]" placeholder="Gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <input type="text" class="form-control modal-input" name="livestock[delivery_date]" placeholder="Earliest Delivery Date" autocomplete="off" required>
          <input type="text" class="form-control modal-input" name="livestock[price]" placeholder="Reserve Price" autocomplete="off" required>
          <label style="font-size: 14px; padding: 15px; margin-bottom: 0px">Seller Details</label>
          <input type="text" class="form-control modal-input" name="livestock[seller]" placeholder="Seller" required>
          <input type="email" class="form-control modal-input" name="livestock[phone]" placeholder="Email" autocomplete="off" required>
            <select class="form-control" name="livestock[location]">
              <option>Coastal Region</option>
              <option>Western Kenya</option>
              <option>Nariobi</option>
            </select>
          </form>

          <button type="submit" class="btn-primary step-one" style="width: 100%">Submit</button>
        </form>
  </div>
<% end %>

<script>


$(".image-placeholder").click(function(){
  $(".image-upload").click();
  $(".upload_subtext").text("Success! Click again to upload another photo.");
})

</script>