<style>

body {
  background: url("http://cdn1.editmysite.com/uploads/4/9/0/6/49061181/background-images/1347285720.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-buttons {
  text-align: center;
  display: block;
}

.home-buttons a {
  vertical-align: middle;
  padding-top: 15px;
}

.home-container {
  padding-top: 300px;
}

h4 {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

</style>

<div class="container-fluid">
    <div class="jumbotron" style="padding: 10px">
        <h4 style="color: white; text-align: center">MIFUGO TRADE</h4>
    </div>
    <div class="your-clock"></div>
    <div class="home-container">
      <div class="home-buttons">
        <%=link_to "SELLERS", new_livestock_path, id: 'new' , class: "btn btn-primary", style: "width: 290px; margin-bottom: 20px" %></br>
        <%=link_to "BUYERS", livestocks_feed_path, id: 'feed' , class: "btn btn-primary", style: "width: 290px; margin-bottom: 20px" %>
      </div>
    </div>
</div>