<div class="container-fluid">
   	<div class="jumbotron" style="padding: 10px">
        <a href="/">
        	<h4 style="color: white; text-align: center">Mifugo Trade</h4>
        </a>
    </div>
	<%= render 'form' %>
</div>